name: portable-release-actions-workflow

on: workflow_dispatch
  
permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
    
jobs:
  build:
    name: Create Release
    runs-on: windows-latest
    strategy:
      matrix:
        esp-idf-version: [ "v5.5.1", "v5.5", "v5.4", "v5.3" ] # , "v4.4.7" , "v4.2.4" , "v3.3.6" ]
    env:
      targetZip: esp-idf-tools-portable-${{ github.ref_name }}.zip
    steps:
      - uses: actions/checkout@v5
      
      - shell: cmd
        run: |
          .\setup.cmd ${{ matrix.esp-idf-version }}
          
      - shell: cmd
        run: |
          cd /d "%USERPROFILE%\Downloads\esp-idf-tools-portable\esp-idf" &&^
          rmdir /s /q .git
          
      - shell: cmd
        run: |
          cd /d "%USERPROFILE%\Downloads\esp-idf-tools-portable" &&^
          dir /S &&^
          7z a -tzip "${{ github.workspace }}\${{ github.event.repository.name }}-${{ matrix.esp-idf-version }}.zip"

      - shell: cmd
        run: |
          dir /S
          
      - name: Release prebuilt
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ matrix.esp-idf-version }}
          artifacts: "${{ github.event.repository.name }}-${{ matrix.esp-idf-version }}.zip"
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
